<h1><%= @representative.name %></h1>
<p>Contact Address: <%= @representative.address %></p>
<p>Political Party: <%= @representative.political_party %></p>
<%= image_tag @representative.photo, alt: "Representative Photo" %>