
<h1><%= @representative.name %></h1>
<p>Contact Address: <%= @representative.address %></p>
<p>Political Party: <%= @representative.political_party %></p>
<p> Image URL: <%= @representative.photo %></p>