.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Choose an Article


    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = render 'radio', news_item: @top_five,
        form_url: representative_create_article_from_api_path(@representative),
        form_method: :post,
        representatives_list: @representatives_list




        